* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #f2f2f2;
    font-family: 'Roboto', sans-serif;
}

.logo-img {
    width: 160px;
    height: 50px;
    background-color: #27272e;
}

header {
    background-color: #333545;
    padding: 5px 10px;
    box-shadow: 0 2px 5px #333545;
}

.left-menu {
    margin: 10px 50px;
    display: flex;
    align-items: center;
    width: 1000px;
}

.input-contain {
    display: flex;
    width: 600px
}

.search-bar {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    outline: none;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.icon1 {
    padding: 10px;
    background-color: white;
    color: #999;
    text-align: center;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.right-menu {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

nav {
    display: flex;
    justify-content: space-around;
}

.menu-link {
    text-decoration: none;
    color: #ccc;
}

.menu-link:hover {
    color: white;
}

.btn {
    background-color: #333545;
    color: white;
    padding: 5px 12px;
    border-radius: 5px;
    border: 1px solid #fff;
}

.side-section {
    width: 300px;
    background-color: white;
    box-shadow: 0 2px 5px #cccccc;
}

.english {
    margin-left: 20px;
    margin-right: 20px;
}

.trending-search-list {}

.trending-search-head {
    font-size: 18px;
    color: #333;
}

.search-result {
    padding: 6px 10px;
}

hr {
    opacity: 0.5;
    margin: 0;
    margin-top: 5px;
}

.movie-name:hover {
    color: #0078ff;
}

.movie-name {
    color: #333;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    cursor: pointer;
    line-height: 18px;
    margin-left: 10px;
}

.movie-type {
    color: #999;
    font-size: 14px;
    margin-top: 5px;
    margin-left: 10px;
}

#side-flex-column {
    display: flex;
    flex-direction: column;
}

#right-flex-container {
    display: flex;
    margin: 6px;
    flex-wrap: wrap;
}

main {
    width: 1300px;
    margin: 2% auto;
}

#main-container {
    width: 1400px;
    display: flex;
}

.top-right-container {}

.pic-img-cont {
    border-radius: 5px;
    margin: 10px;
}

.pic-img {}

.blog-card {
    border: 1px solid lightgray;
    box-shadow: 0 2px 5px #ccc;
    border: 5px;
    margin: 10px;
    padding-bottom: 10px;
}

.blog-img {
    width: 300px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 420px;
}

.blog-content {
    margin: 8px 12px;
}

.blog-date {
    float: left;
    text-align: center;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

.date {
    color: #dd2948;
    font-size: 14px;
}

.month {
    margin-top: 5px;
    margin-bottom: 5px;
}

.onwards {
    color: #999;
    font-size: 12px;
}

.event-type {
    float: left;
    text-align: center;
    color: #999;
    line-height: 1.5;
    font-size: 12px;
    text-align: left;
    margin-left: 10px;
}

.event-name {
    color: black;
    font-size: 16px;
}